@font-face {
  font-family: "Neutrif Pro";
  src: url("../resources/Fonts/NeutrifPro-Light.eot");
  src: url("../resources/Fonts/NeutrifPro-Bold"),
    url("../resources/Fonts/NeutrifPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../resources/Fonts/NeutrifPro-Bold.woff2") format("woff2"),
    url("../resources/Fonts/NeutrifPro-Bold.woff") format("woff"),
    url("../resources/Fonts/NeutrifPro-Bold.ttf") format("truetype");
  font-weight: 0;
  font-style: normal;
}
* {
  background-color: greenyellow;
}
.Mara {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}
.Mara img {
  max-width: 100px;
  height: auto;
}
.bodyContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-attachment: scroll;
}

li,
a {
  font-family: "Neutrif Pro";
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.966);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #04f1e5bd;
}
