<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 ERROR</title>
    <link rel="icon" type="image/png" href="../resources/app_logo_claro.png">
    <link rel="stylesheet" href="../public/css/404.css">
</head>
<body>
    <div class="bodyContainer">

        <div>
            <img class= "top_left_logo" src="../resources/app_logo_claro.png" alt="">
        </div>
        <div class="container">
            <h1>404</h1>
            <p>Oops! we can't seem to find the page that you're looking for.</p>
            <input type="button" value="Go Back!" onclick="window.history.back()">
        </div>
        <div class="image">
            <img src="../resources/pic2.png" alt="">
        </div>

    </div>
</body>
</html>