<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliveries</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js" integrity="sha512-NxlWEbNbTV6acWnTsWRLIiwzOw0IwHQOYUCKBiu/NqZ+5jSy7gjMbpYI+/4KvaNuZ1qolbw+Vnd76pbIUYEG8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" type="image/png" href="../resources/app_logo_claro.png">
    <link rel="stylesheet" href="../public/css/dispatch_page.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="Mara">
                <span><img src="../resources/app_logo_oscuro.png"></span>
            </div>
        </div>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="../resources/profile_pic.jpg" alt="">
                    <div class="name_job">
                        <div class="name"><%= user.charAt(0).toUpperCase() + user.slice(1) %></div>
                        <div class="job">Dispatcher</div>
                    </div>
                </div>
                <a href="/logout">
                    <i class="las la-sign-out-alt" id="log_out"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="content">
        <header>
            <h2>
                Deliveries
            </h2>
            <div class="actual">
                CURRENT STATUS: <% if(data0==0){%>
                    Not working
                    <% } %>
                    <%if(data0==1){%>
                    Break
                    <%}%>
                    <%if(data0==2){%>
                    Working
                    <%}%>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Status 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <form method="post" action="/working">
                    <input type="submit" value="Working">
                </form>
                  
                <form method="post" action="/break">
                    <input type="submit" value="Break">
                </form>
                <form method="post" action="/notwork">
                    <input type="submit" value="Not work">
                </form>
                </div>
              </div>
        </header>
        <main>
            <div class="fleet_list">
                <div class="card">
                    <div class="card_header">
                        <h1>Today's Deliveries</h1>
                    </div>
                    <div class="card_body">
                        <div class="table_responsive">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>Package's Delivery ID</td>
                                        <td>Category</td>
                                        <td>Delivery Date</td>
                                        <td>Car License Plate</td>
                                        <td>Loading Status</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10023872335</td>
                                        <td>
                                            <span class="status elec"></span>
                                            Electronics
                                        </td>
                                        <td>12-24-2021</td>
                                        <td>NCS-293</td>
                                        <td>
                                            <span class="status reddish"></span>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238722875</td>
                                        <td>
                                            <span class="status food"></span>
                                            Food
                                        </td>
                                        <td>11-24-2021</td>
                                        <td>NHE-678</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>90238722875</td>
                                        <td>
                                            <span class="status food"></span>
                                            Food
                                        </td>
                                        <td>12-24-2021</td>
                                        <td>RTJ-635</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238733375</td>
                                        <td>
                                            <span class="status cloth"></span>
                                            Clothes
                                        </td>
                                        <td>12-29-2021</td>
                                        <td>NPO-333</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238993375</td>
                                        <td>
                                            <span class="status elec"></span>
                                            Electronics
                                        </td>
                                        <td>12-01-2021</td>
                                        <td>IPO-393</td>
                                        <td>
                                            <span class="status reddish"></span>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238733355</td>
                                        <td>
                                            <span class="status cloth"></span>
                                            Clothes
                                        </td>
                                        <td>10-30-2021</td>
                                        <td>SSS-338</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10023872335</td>
                                        <td>
                                            <span class="status elec"></span>
                                            Electronics
                                        </td>
                                        <td>12-24-2021</td>
                                        <td>NCS-293</td>
                                        <td>
                                            <span class="status reddish"></span>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238722875</td>
                                        <td>
                                            <span class="status food"></span>
                                            Food
                                        </td>
                                        <td>11-24-2021</td>
                                        <td>NHE-678</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>90238722875</td>
                                        <td>
                                            <span class="status food"></span>
                                            Food
                                        </td>
                                        <td>12-24-2021</td>
                                        <td>RTJ-635</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238733375</td>
                                        <td>
                                            <span class="status cloth"></span>
                                            Clothes
                                        </td>
                                        <td>12-29-2021</td>
                                        <td>NPO-333</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238993375</td>
                                        <td>
                                            <span class="status elec"></span>
                                            Electronics
                                        </td>
                                        <td>12-01-2021</td>
                                        <td>IPO-393</td>
                                        <td>
                                            <span class="status reddish"></span>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238733355</td>
                                        <td>
                                            <span class="status cloth"></span>
                                            Clothes
                                        </td>
                                        <td>10-30-2021</td>
                                        <td>SSS-338</td>
                                        <td>
                                            <span class="status green"></span>
                                            Loaded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10023872335</td>
                                        <td>
                                            <span class="status elec"></span>
                                            Electronics
                                        </td>
                                        <td>12-24-2021</td>
                                        <td>NCS-293</td>
                                        <td>
                                            <span class="status reddish"></span>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10238722875</td>
                                        <td>
                                            <span class="status food"></span>
                                            Food
                                        </td>
                                        <td>11-24-2021</td>
                                        <td>NHE-678</td>
                                        <td>
                                            <span class="status reddish"></span>
                                            Pending
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="../public/data/script.js"></script>
</html>