<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver</title>
    <link rel="icon" type="image/png" href="../resources/app_logo_claro.png">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="../public/css/drivers_movile.css">

    <!-- bootstrap  -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- Show locations on map -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD73z8FbBBobZd9RORGZXWraLpWXiGlDWo"></script>
    <script type="text/javascript" src="../public/data/stefscript.js"></script>
    
</head>
<body onload="InitMap();">
    <!-- sidebar -->
    <div class="sidebar">
        <div class="logo_content">
            <div class="Mara">
                <span><img src="../resources/app_logo_oscuro.png" alt="" srcset=""></span>
            </div>
        </div>
        <ul class="nav_list">
            <li><a href="#info_card"><i class="las la-info-circle"><span class="links_name">    General</span></i></a></li>
            <li><a href="#schedule_card"><i class="lar la-calendar-check"><span class="links_name"> Schedule</span></i></a></li> 
            <li><a href="#map_card"><i class="las la-map"><span class="links_name"></span>  Route</i></a></li>
        </ul>
        <!-- profile information -->
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="../resources/profile_pic_2.jpg" alt="">
                    <div class="name_job">
                        <div class="name"><%= user.charAt(0).toUpperCase() + user.slice(1) %></div>
                        <div class="job">Driver</div>
                    </div>
                    <a href="/logout">
                        <i class="las la-sign-out-alt" id="log_out"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- main content -->
    <div class="content">
        <header>
            <h1>Driver</h1>
        </header>
        <main>
            <div class="card" id="info_card">
                <div ><center><h2>General information</h2></center></div>
            </div>
            
            <div class="drivers_info_card">
                <div>
                    <!-- <span>Info</span> -->
                    <span>
                        <center>Vehicle: #2345</center>
                    </span>
                    <span>
                        <center>License plate: ASF234</center>
                    </span>
                    <span>
                        <center>Bay: 26</center>
                    </span>
                    <span>
                        <center>Vehicle type</center>
                        <center><i class="las la-truck"></i></center>
                    </span>
                    <!-- <span>
                        <center>Vehicles fully loaded: 32</center>
                    </span> -->
                </div>
            </div>
            <div class="espacio">.</div>
            <!-- schedule information -->
            <div class="card" id="schedule_card">
                <div ><center><h2>Schedule</h2></center></div>
            </div>
            <div class="schedule_card">
                <div class="package_widget card">
                    <div class="package">Paquete 1</div>
                    <div>
                        <details>
                            <summary><i class="las la-angle-down details"></i></summary>
                            <div>Direccion: Dg 145A No. 32A-57 APTO 602, C.P 11001</div>
                            <div>Peso: 11kg</div>
                            <div>Price: 47.00$</div>
                            <div>Cliente: Ghandi</div>
                        

                        </details>
                    </div>
                </div>
                <div class="package_widget card">
                    <div class="package">Paquete 2</div>
                    <div>
                        <details>
                            <summary><i class="las la-angle-down details"></i></summary>
                            <div>Direccion: Cr.22 No.10-13, Bogotá</div>
                            <div>Peso: 30kg</div>
                            <div>Price: 47.00$</div>
                            <div>Cliente: Pedro</div>
                        
                        </details>
                    </div>
                </div>
                <div class="package_widget card">
                    <div class="package">Paquete 3</div>
                    <div>
                        <details>
                            <summary><i class="las la-angle-down details"></i></summary>
                            <div>Direccion: Cl 64H No. 76A-14 CASA 2</div>
                            <div>Peso: 100kg</div>
                            <div>Price: 120.00$</div>
                            <div>Cliente: Ashley</div>
                        
                        </details>
                    </div>
                </div>
                <div class="package_widget card">
                    <div class="package">Paquete 4</div>
                    <div>
                        <details>
                            <summary><i class="las la-angle-down details"></i></summary>
                            <div>Direccion: Dg.111 No. 54-72, Bogotá</div>
                            <div>Peso: 78kg</div>
                            <div>Price: 24.10$</div>
                            <div>Cliente: Marcos</div>
                        
                        </details>
                    </div>
                </div>
                <div class="package_widget card">
                    <div class="package">Paquete 5</div>
                    <div>
                        <details>
                            <summary><i class="las la-angle-down details"></i></summary>
                            <div>Direccion: Cr 49B No. 93-11</div>
                            <div>Peso: 80kg</div>
                            <div>Price: 21.40$</div>
                            <div>Cliente: Karl</div>
                        
                        </details>
                    </div>
                </div>
                <div class="package_widget card">
                    <div class="package">Paquete 6</div>
                    <div>
                        <details>
                            <summary><i class="las la-angle-down details"></i></summary>
                            <div>Direccion: Cr 49B No. 93-11</div>
                            <div>Peso: 40kg</div>
                            <div>Price: 45.00$</div>
                            <div>Cliente: Juan F</div>
                        
                        </details>
                    </div>
                </div>
            </div>
            <div class="espacio">.</div>
            <!-- map card -->
            <div class="map_card" id="map_card">
                <div>
                    <div>
                        <h1>
                            <center>Map</center>
                        </h1>
                        <div id="map"></div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
