/* font information */
@font-face {
    font-family: "Neutrif Pro";
    src: url("../../resources/Fonts/NeutrifPro-Light.eot");
    src: url("../../resources/Fonts/NeutrifPro-Bold"),
      url("../../resources/Fonts/NeutrifPro-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../resources/Fonts/NeutrifPro-Bold.woff2") format("woff2"),
      url("../../resources/Fonts/NeutrifPro-Bold.woff") format("woff"),
      url("../../resources/Fonts/NeutrifPro-Bold.ttf") format("truetype");
    font-weight: 0;
    font-style: normal;
  }

*,
*::before
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Neutrif Pro";
}
span {
    font-size: large;
    /* font-size: x-large; */

}

/* body,h1,h2,h3,p{
    margin: 0;
    padding: 0;
    font-family: "Neutrif Pro";
    list-style-type: none;
    text-decoration: none;
} */

img{
    object-fit: cover;
}

.Mara {
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
  }
  .Mara img {
    max-width: 100px;
    height: auto;
  }

.sidebar{
    width: 200px;
    /* width: min-content; */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        135deg,
        #00a300 20%,
        #28ee00 60%,
        #00ff62 100%
    );
    scroll-margin-inline: 100;
}

.sidebar .logo_content .logo {
    color: white;
    display: flex;
    height: 3.12em;
    width: 100%;
    align-items: center;
    padding-top: 0.25em;
  }

.logo_content .logo i {
    font-size: 1.75em;
    margin-right: 0.312em;
    padding-left:0.625em;
}
 
.logo_content .logo .logo_name {
    font-size: 1.375em;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: white;
    left: 90%;
    top: 0.9375em;
    font-size: 1.25em;
    height: 3.125em;
    width:3.125em;
    text-align: center;
    transform: translateX(-50%);
  }


  .sidebar ul {
    margin-top: 10px;
  }
  
  .sidebar ul li {
    position: relative;
    height: 50px;
    width: 75%;
    margin: 0 5px;
    padding-left: 10px;
    list-style: none;
  }
  
  .sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
  }
  
  .sidebar ul li a:hover {
    color: #023e8a;
    background: white;
  }
  
  .sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
  
  .sidebar .profile_content {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #00ff62 50%;
  }
  
  .profile_content .profile .profile_details {
    display: flex;
    align-items: center;
  }
  
  .profile .profile_details img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .profile .profile_details .name_job {
    margin-left: 10px;
  }
  
  .profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
  }
  
  .profile .profile_details .job {
    font-size: 12px;
  }
  
  .profile #log_out {
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    color: white;
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
  }
  .content {
    margin-left: 200px;
  }
  .tracking_map {
    padding-top: 15px;
  }
  
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    top: 0;
    z-index: 100;
  }
  
  header h2 {
    color: #222;
  }
  
  header label span {
    font-size: 22px;
    padding-right: 10px;
  }
  
  main {
    margin-top: 50px;
    font-size: 12px;
    padding: 20px 15px;
    background-color: #f1f5f9;
    min-height: calc(100vh - 60px);
  }

  .espacio{
      height: 10%;
      color: whitesmoke;
  }
  
  /* CARD INFO */
  .card {
    /* background: #fff; */
    padding: 10px;
    border-radius: 5px;
    height: min-content;
    background: #fff;
    /* padding: 10px; */
    /* border-radius: 5px; */
  }

  .drivers_info_card {
    height: min-content;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  .card_header {
    padding-top: 8px;
    align-content: center;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 
  /* PLACING PACKAGE AND INFO SIDE BY SIDE */
  .package_widget {
    position: relative;
    width: 100%;
    background: #ffffff;
    height: max-content;
    margin: 0 auto;
  }

  .package{
    width: max-content;
    height:max-content;
    /* background: red; */
    float: left;
}

.details{
    width: max-content;
    height:max-content;
    background: #ffffff;
    margin-left: 1%;
    margin-bottom: 1%;
}

.map_card{
    width: 100%;
    height:max-content;
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-radius: 5px;
}


#map {
  height: 500px;
  width: 100%;
  background-color: grey;
}